* {
    font-family: monospace;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(31, 153, 41);
}

.modal {
    width: 50%;
    z-index: 2;
    font-size: 15pt;
    max-width: 600px;
    padding: 20px 40px;
    position: absolute;
    border-radius: 10px;
    background-color: rgb(242, 255, 243);
}

.overlay {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    position: absolute;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.274);
}

.close-modal {
    width: 50px;
    height: 50px;
    float: right;
    border: unset;
    font-size: 30pt;
    border-radius: 10px;
    background-color: rgb(242, 255, 243);
}

.close-modal:hover {
    cursor: pointer;
    background-color: rgb(224, 238, 225);
}

.hidden {
    display: none;
}

.show-modal {
    width: 200px;
    height: 70px;
    border: unset;
    font-size: 20pt;
    font-weight: 800;
    border-radius: 50px;
    background-color: rgb(242, 255, 243);
}

.show-modal:hover {
    cursor: pointer;
    background-color: rgb(224, 238, 225);
}
